/* ---------------Color--------------- */
:root {
    --main1: #FFBF00;
    --main2: #021222;
    --main3: #004790;

    --white: #fff;
    --black: #000;
    --text: #555967;
    --block: #cccccc;

    --border: 2px solid #F3F7FE;
}

/* ----------------Video---------------- */

.Video .card {
    margin: 100px 0 170px;
    overflow: hidden;
}

.Video .card .box-title {
    width: 100%;
    margin-bottom: 40px;

}

.Video .card .box-title .title {
    color: #004790;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.Video .card .box-title .icon {
    color: #fe7f2d;
    font-size: 9px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.main-video {
    flex: 3;
    border-radius: 10px;
}

.main-video video {
    width: 100%;
    border-radius: 10px;
}

.video-info {
    margin-top: 20px;
}

.video-info h2 {
    margin-bottom: 10px;
    color: var(--main2);
    font-size: 20px;
}

.video-info .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 15px;
}

.video-info .bottom .tags {
    font-size: 14px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.video-info .bottom .tags .item {
    padding: 5px;
    border-radius: 10px;
    color: var(--text);
    cursor: pointer;
}

.video-info .bottom .video-meta {
    font-size: 14px;
    color: var(--text);
    font-weight: 100;
}

.video-info .bottom .video-meta span {
    margin-inline: 5px;
}

.video-info .description {
    max-height: 85px;
    line-height: 1.8;
    text-align: justify;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
}

.video-info .description p {
    font-size: 15px;
    color: var(--main2);
}

.video-info .description.expanded {
    max-height: none;
}

.video-info .toggle-description {
    cursor: pointer;
    color: var(--main3);
    margin-top: 12px;
    font-size: 14px;
    font-weight: 200;
    display: inline-block;
}

.card .title-rel {
    display: none;
    font-size: 16px;
    color: var(--main3);
    order: 2;
    text-align: right;
    width: 100%;
    margin-top: 45px;
}

.sidebar {
    flex: 1;
    border-radius: 10px;
    padding-right: 20px;
}

.related-video {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;
    height: 80px;
}

.related-video img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.related-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.related-info h4 {
    font-size: 14px;
    font-weight: 200;
    color: var(--main2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.related-info .meta {
    font-size: 12px;
    color: var(--text);
}

/*-------------Scroll----------*/
.Video .card .bottom {
    width: 100%;
}

.Video .card .bottom .title-product {
    font-size: 18px;
    font-weight: 200;
    color: var(--main3);
    text-align: right;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.Video .card .bottom .scroll-specialProduct {
    gap: 20px;
    padding-block: 10px;
    padding-inline: 0;
    transition: all 0.3s;
    display: flex;
}

.Video .card .bottom .scroll-specialProduct .row-product {
    flex-shrink: 0;
    padding-inline: 5px 10px;
}

.Video .card .bottom .scroll-specialProduct .row-product .item {
    border-radius: 12px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    height: 20rem;
    margin-bottom: 55px;
}

.Video .card .bottom .scroll-specialProduct .row-product .item:hover {
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(2, 18, 34, .11);
}

.Video .card .bottom .scroll-specialProduct .row-product .item::before {
    font-family: icomoon !important;
    content: "\e92c";
    color: #fe7f2d;
    position: absolute;
    bottom: 35px;
    transition: .3s ease-in-out;
    font-size: 14px;
    transform: scale(0);
    transform-origin: left center;
    left: 190px;
}

.Video .card .bottom .scroll-specialProduct .row-product .item:hover::before {
    bottom: 48px;
    transform: scale(1);
    left: 185px;
}

.Video .card .bottom .scroll-specialProduct .row-product .item .top {
    text-align: center;
}

.Video .card .bottom .scroll-specialProduct .row-product .item .top .title {
    color: var(--main2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 200;
}

.Video .card .bottom .scroll-specialProduct .row-product .item .image {
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    max-width: 287px;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.Video .card .bottom .scroll-specialProduct .row-product .item .image .img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 0.7;
    transition: all 0.3s;
}

.Video .card .bottom .scroll-specialProduct .row-product .item:hover .image .img {
    transform: scale(1.08);
}

/* Mobile responsive */
@media screen and (max-width: 1024px) {
    .row-product .item::before {
        left: 160px !important;
    }

    .row-product .item:hover::before {
        left: 150px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px !important;
    }

    .card .box-title {
        margin-bottom: 20px;
    }

    .card .title-rel {
        display: block;
    }

    .sidebar {
        order: 3;
        padding-right: 0;
        margin-top: 25px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .related-video {
        width: 100%;
        max-width: 320px;
        min-width: 300px;
        height: 100px;
        padding: 2px;
    }

    .related-video img {
        width: 140px;
        height: 88px;
    }

    .bottom {
        order: 4;
    }

    .row-product .item::before {
        left: 180px !important;
    }

    .row-product .item:hover::before {
        left: 170px !important;
    }
}

@media screen and (max-width: 425px) {
    .row-product .item::before {
        left: 200px !important;
    }

    .row-product .item:hover::before {
        left: 190px !important;
    }
}

@media screen and (max-width: 375px) {
    .row-product .item::before {
        left: 175px !important;
    }

    .row-product .item:hover::before {
        left: 165px !important;
    }
}

@media screen and (max-width: 320px) {
    .row-product .item::before {
        left: 160px !important;
    }

    .row-product .item:hover::before {
        left: 150px !important;
    }
}